.contacts-block {
    background-color: #3498db;
}
.contacts-block-wrapper {
    max-width: 1220px;
    margin: 0 auto;
    display: grid;
    padding: $padding-320px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    color: white;
    div {
        i {
            font-size: 42px;

        }
        .contact-title {
            font-weight: 900;
            font-size: 14px;
        }
        .contact-info {
            font-size: 12px;
            white-space: nowrap;
            font-weight: 100;
        }
    }
    @media (min-width: 768px) {
        padding-top: 35px;
        padding-bottom: 35px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        div {
            i {
                margin-bottom: 15px;
            }
            .contact-title {
                font-size: 16px;
                margin-bottom: 0;
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
            .contact-info {
                font-size: 14px;
                margin-top: 0;
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}