$block-color1: #FFF;
$block-color2: #F7F7F7;
$padding-320px: 15px;

:root {
    font-family: "OpenSans";
    font-weight: 400;
    font-size: 1em;
}
*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: $block-color2;

}

.content{
    padding-top: 50px;
    margin: 0 auto;
}

h2 {
    padding-top: 50px;
    margin-top: 0;
    text-align: center;
    font-weight: 400;
}



.fadeIn {
    animation-name: fadeIn;
}
@keyframes fadeIn {
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.9;
    }
    0% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    100% {
        opacity: 0;
    }
    25% {
        opacity: 0.1;
    }
    0% {
        opacity: 1;
    }
}