.menu-ckb:checked{
    ~ .menu{
            height: 250px;
            visibility: visible;
            transition: visibility 0s 1s;
            transition: height 1s;
        }
}

header {
    width: 100%;
    background-color: $block-color1;
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    box-shadow: 0 1px 12px 0 rgb(51 51 51 / 23%);
    padding-left: $padding-320px;
    padding-right: $padding-320px;
    transition: height 1s ease-out;

}
.header-wrapper {
    max-width: 1220px;
    margin: 0 auto;
    flex-wrap: wrap;
    .menu-ckb {
        align-self: center;
        grid-area: b;
        display: none;
    }
    .menu-icon {
        cursor: pointer;
        float: right;
        padding: 15px 10px;
        position: relative;
        user-select: none;
        background-color: #337ab7;
        border-radius: 4px;
        margin: 10px;
        margin-top: 15px;

        .bars{
            background: #fff;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 20px;
            &::before {
                background: #fff;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
                top: 5px;
            }
            &::after {
                background: #fff;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
                top: -5px;
            }
        }
    }
    
    .logo {
        display: inline-block;
        grid-area: a;
        height: 60px;
        align-self: center;
        margin: 5px;
        img {
            object-fit: contain;
            object-position: left;
            height: 50px;
            display: block;
        }
    }
    .menu {
        grid-area: c;
        height: 0px;
        visibility: hidden;
        margin: auto auto auto auto;
        text-align: center;
        list-style: none;
        padding: 0;
        transition: height 1s 0s;
        li {
            a{
                display: block;
                padding: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
                color: inherit;
                text-decoration: none;
                &:hover{
                    color: #337ab7;
                    background-color: #eeeeee;
                }
            }

            &:last-child{
                a{
                    color: white;
                    background-color: #337ab7;
                    border-radius: 25px;
                    &:hover{
                        background-color: #286090;
                        border-radius: 25px;
                    }
                }

            }

        }
    }
    @media (min-width: 768px) {

        grid-template-columns: auto 7fr;
        .menu-icon {
            display: none;
        }
        .menu {
            float: right;
            margin-top: 20px;
            padding-bottom: 0;
            visibility: visible;
            grid-area: b;
            align-self: center;
            li {
                display: inline;
                a{
                    display: inline;
                }
            }
        }
    }
}

