.organized-block {
    background-color: #3498db;

}
.organized-block-wrapper {
    margin: 0 auto;
    max-width: 1220px;
    display: grid;
    padding-left: $padding-320px;
    padding-right: $padding-320px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    color: white;
    div {
        margin: 15px;
        img {
            width: 85px;
            height: 60px;
        }
        .organized-number {
            font-size: 16px;
            font-weight: 900;
            margin: 0;
        }
        .organized-desc {
            font-size: 14px;
            font-weight: 100;
            margin: 0;

        }
    }
    @media (min-width: 768px) {
        padding-top: 35px;
        padding-bottom: 35px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        div {
            img {
                margin-bottom: 15px;
            }
            .organized-number {
                font-size: 18px;
            }
        }
    }
}