.program-block {
    background-color: $block-color1;

}
.program-block-wrapper {
    margin: 0 auto;
    max-width: 1220px;

    padding-left: $padding-320px;
    padding-right: $padding-320px;
    .owl-carousel {
        .owl-stage{
           margin: 0 auto; 
           text-align: center;
           .owl-item {
               div {
                display: grid;
                grid-template-rows: 1fr 0.7fr auto;
                grid-template-columns: 1fr;
                // padding-right: 20px;
                // padding-left: 20px;
                h3 {
                    border-bottom: 1px solid #3498db;
                    color: #666;
                }
                p {
                    color: #888;
                }
               }
               @media (min-width: 768px){
                   padding-right: 15px;
               }
            img {
                margin: auto;
                width: 150px;
                height: 150px;
                object-fit: contain;
            }
            }
        }
    }
}