.reviews-block {
    background-color: $block-color1;

}
.reviews-block-wrapper {
    max-width: 1220px;
    padding-left: $padding-320px;
    padding-right: $padding-320px;
    margin: 0 auto;
    .owl-carousel {
        .owl-stage{
           margin: 0 auto; 

            .owl-item {
                text-align: center;
                padding: 0 15px;
                animation-duration: 2s;
                .reviews-content{
                    margin: 0;
                    color: #888;
                    margin-bottom: 50px;
                    &::before{
                        @extend %fa-icon;
                        @extend .fas;
                        content: fa-content($fa-var-quote-left);
                        position:absolute;
                        top: 0;
                        left: 5px;
                        color: #888;
                        opacity: 0.5;
                    }
                    &::after{
                        @extend %fa-icon;
                        @extend .fas;
                        content: fa-content($fa-var-quote-right);
                        position:absolute;
                        bottom: 95px;
                        right: 5px;
        
                        color: #888;
                        opacity: 0.5;
                    }
                }
                .reviews-name {
                    font-weight: normal;
                    color: inherit;
                    margin-bottom: 0;

                }
                .reviews-position {
                    margin-top: 0;
                    font-weight: 100;
                    color: #888;
                    font-style: italic;
                }
            }
        }
    }
}