
.video-block-wrapper {
    margin: 0 auto;
    max-width: 1220px;
    padding-left: $padding-320px;
    padding-right: $padding-320px;
    text-align: center;
    p {
        color: #888;
    }
    iframe {
        width: 100%;
        max-width: 1020px;
        height: 480px;
        margin-bottom: 75px;
    }
}