@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
:root {
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 1em;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  background: #F7F7F7;
  padding-top: 20%;
}

h2 {
  text-align: center;
  font-weight: 400;
}

header {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  max-height: 20vw;
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 1px 12px 0 rgba(51, 51, 51, 0.23);
  display: grid;
  grid-template-areas: "a b" "c c";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vw min-content;
  flex-wrap: wrap;
  padding-left: 3%;
  padding-right: 3%;
  transition: max-height 1s ease-in;
}
header .logo {
  grid-area: a;
  height: 15vw;
  align-self: center;
}
header .logo img {
  object-fit: contain;
  object-position: left;
  width: 100%;
  height: 100%;
  display: block;
}
header .menu {
  grid-area: c;
  visibility: hidden;
  margin: auto auto auto auto;
  text-align: center;
  list-style: none;
  padding: 0;
  padding-bottom: 4vw;
  transition: visibility 0s 1s;
}
header .menu li a {
  display: block;
  padding: 1.5vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  color: inherit;
  text-decoration: none;
}
header .menu li a:hover {
  color: #337ab7;
  background-color: #eeeeee;
}
header .menu li:last-child a {
  color: white;
  background-color: #337ab7;
  border-radius: 25px;
}
header .menu li:last-child a:hover {
  background-color: #286090;
  border-radius: 25px;
}
header #menu-close {
  display: none;
}
header .menu-button {
  grid-area: b;
  align-self: center;
  margin-left: auto;
  background: #337ab7;
  border-radius: 8px;
  padding: 15px 10px 15px 10px;
}
header .menu-button .icon-bar {
  background: #fff;
  display: block;
  width: 40px;
  height: 3px;
  border-radius: 5px;
}
header .menu-button .icon-bar:not(:first-child) {
  margin-top: 5px;
}

#menu-open:target ~ header {
  max-height: 100vw;
  transition: max-height 1s ease-out;
}
#menu-open:target ~ header .menu {
  visibility: visible;
  transition: visibility 0s 0s;
}
#menu-open:target ~ header #menu-open {
  display: none;
}
#menu-open:target ~ header #menu-close {
  display: block;
}

.about-block {
  background: #F7F7F7;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  color: #666;
}
.about-block h1 {
  color: initial;
}

.form-block {
  padding-left: 3%;
  padding-right: 3%;
}
.form-block .form-control:not([type=checkbox]) {
  border: 1px solid #bababa;
  border-radius: 5px;
  padding: 20px 10px;
  width: 100%;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  height: 34px;
  margin-bottom: 2vw;
}
.form-block .form-control:not([type=checkbox]):focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-block .form-checkbox-group {
  margin-top: 4vw;
  margin-bottom: 4vw;
}
.form-block .form-group-submit {
  text-align: center;
}
.form-block .form-group-submit .form-submit {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  border: 1px solid transparent;
  padding: 15px 50px;
  border-radius: 50px;
  text-align: center;
}
.form-block .form-group-submit .form-submit:hover {
  background-color: #286090;
  border-color: #204d74;
}
.form-block .form-group-submit .form-submit:active {
  background-color: #204d74;
  border-color: #122b40;
}

.program-block {
  padding-left: 3%;
  padding-right: 3%;
}
.program-block .owl-carousel div {
  width: 100%;
  text-align: center;
}
.program-block .owl-carousel div h3 {
  border-bottom: 1px solid #3498db;
  color: #666;
}
.program-block .owl-carousel div p {
  color: #888;
}
.program-block .owl-carousel div img {
  margin: auto;
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.organized-block {
  display: grid;
  padding-left: 3%;
  padding-right: 3%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: #3498db;
  text-align: center;
  color: white;
}
.organized-block div {
  flex-basis: 25%;
  margin: 15px;
}
.organized-block div img {
  width: 85px;
  height: 60px;
}
.organized-block div .organized-number {
  font-size: 16px;
  margin: 0;
}
.organized-block div .organized-desc {
  font-size: 12px;
  margin: 0;
}